.DS_Store
node_modules
/dist
firebase.json
.firebaserc
.github
.firebase
package-lock.json

# local env files
.env.local
.env.*.local
.env

# Log files
npm-debug.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.njsproj
*.browserlistrc
